PORT=3000
SHOPIFY_STORE_DOMAIN=your-store.myshopify.com
SHOPIFY_ADMIN_ACCESS_TOKEN=replace-me
SHOPIFY_API_VERSION=2026-01
SHOPIFY_WEBHOOK_SECRET=replace-me
REDBOX_API_ENDPOINT=
ARAMEX_API_ENDPOINT=https://ws.dev.aramex.net/shippingapi.v2/shipping/service_1_0.svc/json
ARAMEX_USERNAME=
ARAMEX_PASSWORD=
ARAMEX_VERSION=v1
ARAMEX_ACCOUNT_NUMBER=
ARAMEX_ACCOUNT_PIN=
ARAMEX_ACCOUNT_ENTITY=
ARAMEX_ACCOUNT_COUNTRY_CODE=
ARAMEX_SOURCE=24
CARRIER_MODE=dry-run #sandbox/dry-run/live